In [1]:
import pandas as pd
import numpy as np

## Load Data

In [2]:
from pycaret.datasets import get_data
data = get_data('insurance')

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Setup Data for Model/Data Preparation

Steps performed by setup function:
- Train Test Split
- Scaling
- Transformation
- OneHotEncoding
- Missing Value Imputation
- Feature Engineering

In [3]:
from pycaret.regression import *
s = setup(data, target = 'charges', session_id = 123)#, use_gpu=True)

In [4]:
# check transformed X_train (Includes OneHotEncoded Columns, processed by setup function)
get_config('X_train')

,age,bmi,sex_female,children_0,children_1,children_2,children_3,children_4,children_5,smoker_no,region_northeast,region_northwest,region_southeast,region_southwest
300,36.0,27.549999,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
904,60.0,35.099998,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
670,30.0,31.570000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
617,49.0,25.600000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
373,26.0,32.900002,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238,37.0,22.705000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1147,20.0,31.920000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
106,19.0,28.400000,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1041,18.0,23.084999,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1122,53.0,36.860001,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

# ðŸ‘‰ Model Training & Selection

## Compare Models

 - Train all models (available in pycaret library) using default hyperparameters 
 - All Models are trained using KFold Cross Validation
 - Mean values of each model mentioned in Table

In [5]:
best = compare_models()

## Check Best Model

In [6]:
print(best)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=123, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [7]:
type(best)

sklearn.ensemble._gb.GradientBoostingRegressor

## Create Individual Model

- **create_model()** function will train one model passed as parameter Kfold times

In [8]:
dt = create_model('dt', fold = 5)

In [9]:
print(dt)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=123, splitter='best')

## Tune HyperParameters

- parameters are tuned for the passed model using RandomizedSearch on dynamically defined hyperparameter SearchSpace for each estimator 
- custom search space can be passed as parameter **custom_grid**
- To change RandomSearch bheaviour of iterating over Search space, we can use **search_library** parameter. Options are: 
    - **optuna** (will use methods defined by optuna to iterate over SearchSpace), 
    - **scikit-optimize** 
    - **scikit-learn**
    - **tune-sklearn**

In [10]:
tuned_dt = tune_model(dt, search_library = 'optuna')

In [11]:
tuned_dt = tune_model(dt, search_library = 'scikit-learn')

In [12]:
tuned_dt = tune_model(dt, search_library = 'scikit-optimize')

In [13]:
print(tuned_dt)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mae', max_depth=10,
                      max_features=0.9631803029863928, max_leaf_nodes=None,
                      min_impurity_decrease=2.9543258674895983e-06,
                      min_impurity_split=None, min_samples_leaf=5,
                      min_samples_split=3, min_weight_fraction_leaf=0.0,
                      presort='deprecated', random_state=123, splitter='best')

## Ensemble Model

In [14]:
bagged_tuned_dt = ensemble_model(tuned_dt, n_estimators = 25)

In [15]:
print(bagged_tuned_dt)

BaggingRegressor(base_estimator=DecisionTreeRegressor(ccp_alpha=0.0,
                                                      criterion='mae',
                                                      max_depth=10,
                                                      max_features=0.9631803029863928,
                                                      max_leaf_nodes=None,
                                                      min_impurity_decrease=2.9543258674895983e-06,
                                                      min_impurity_split=None,
                                                      min_samples_leaf=5,
                                                      min_samples_split=3,
                                                      min_weight_fraction_leaf=0.0,
                                                      presort='deprecated',
                                                      random_state=123,
                                                      splitter='best'),
                 bootstrap=True, bootstrap_features=False, max_features=1.0,
                 max_samples=1.0, n_estimators=25, n_jobs=None, oob_score=False,
                 random_state=123, verbose=0, warm_start=False)

## Voting Ensemble

- Train individual models and blend them in some way to get metrics (e.g. get weightavg)

In [16]:
dt = create_model('dt', verbose = False)
lasso = create_model('lasso', verbose = False)
knn = create_model('knn', verbose = False)
blend = blend_models([dt, lasso, knn])

In [17]:
print(blend)

VotingRegressor(estimators=[('dt',
                             DecisionTreeRegressor(ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features=None,
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   presort='deprecated',
                                                   random_state=123,
                                                   splitter='best')),
                            ('lasso',
                             Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                                   max_iter=1000, normalize=False,
                                   positive=False, precompute=False,
                                   random_state=123, selection='cyclic',
                                   tol=0.0001, warm_start=False)),
                            ('knn',
                             KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                                 metric='minkowski',
                                                 metric_params=None, n_jobs=-1,
                                                 n_neighbors=5, p=2,
                                                 weights='uniform'))],
                n_jobs=-1, verbose=False, weights=None)

## Stacking Ensemble

- Output of one model is taken as Input of another model and get the Final metrics (without backpropogation)

In [18]:
stacker = stack_models([dt, lasso, knn])

In [19]:
print(stacker)

StackingRegressor(cv=KFold(n_splits=10, random_state=RandomState(MT19937) at 0x20139F20DB0,
   shuffle=False),
                  estimators=[('dt',
                               DecisionTreeRegressor(ccp_alpha=0.0,
                                                     criterion='mse',
                                                     max_depth=None,
                                                     max_features=None,
                                                     max_leaf_nodes=None,
                                                     min_impurity_decrease=0.0,
                                                     min_impurity_split=None,
                                                     min_samples_leaf=1,
                                                     min_samples_split=2,
                                                     min_weight_fraction_leaf=0.0,
                                                     presor...
                                     positive=False, precompute=False,
                                     random_state=123, selection='cyclic',
                                     tol=0.0001, warm_start=False)),
                              ('knn',
                               KNeighborsRegressor(algorithm='auto',
                                                   leaf_size=30,
                                                   metric='minkowski',
                                                   metric_params=None,
                                                   n_jobs=-1, n_neighbors=5,
                                                   p=2, weights='uniform'))],
                  final_estimator=LinearRegression(copy_X=True,
                                                   fit_intercept=True,
                                                   n_jobs=-1, normalize=False),
                  n_jobs=-1, passthrough=True, verbose=0)

# ðŸ‘‰ Analyse Model

In [20]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [ ]:
#interpret_model(dt)  # Not working on Laptop